@model Aadl.Models.PractitionerViewModels.PractitionerEditViewModel
@{

    // Determine the navigation title based on PractitionerTypeId
    string practitionerTitle="";
    if(ViewBag.PractitionerTypeId !=0)
        switch (ViewBag.PractitionerTypeId)
    {
        case 1:
            practitionerTitle = @Aadl.Resources.ResPractitioner.lbRegulator;
            break;
        case 2:
            practitionerTitle = @Aadl.Resources.ResPractitioner.lbSharia;
            break;
        case 3:
            practitionerTitle = @Aadl.Resources.ResPractitioner.lbJudger;
            break;
        case 4:
            practitionerTitle = @Aadl.Resources.ResPractitioner.lbExpert;
            break;
        default:
            practitionerTitle = "NONE";
            break;
    }
}

@section Styles{
    
    

}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            @ViewBag.Title
                            <small>
                                @ViewBag.SubTitle
                            </small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Vendors </li>
                        <li class="breadcrumb-item active">Create Vendor </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card tab2-card">
                    <div class="card-header">
                        <h5>@Model.FullName</h5>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="account-tab" data-toggle="tab" href="#PractitionerInfo" role="tab" aria-controls="account" aria-selected="true">@practitionerTitle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="permission-tabs" data-toggle="tab" href="#PersonInfo" role="tab" aria-controls="permission" aria-selected="false">@Aadl.Resources.General.lbPersonTitle</a>
                            </li>
                        </ul>

                        <form asp-controller="practitioner" asp-action="edit" method="post" class="needs-validation user-add">
                            <input type="hidden" name="PractitionerId" value="@Model.PractitionerId" />
                            <input type="hidden" name="PractitionerTypeId" value="@Model.PractitionerTypeId" />
                            <input type="hidden" name="UpdatedByUserId" value="@Model.UpdatedByUserId" />
                            <input type="hidden" name="CreatedByUserId" value="@Model.CreatedByUserId" />
                            @Html.HiddenFor(m => m.PersonId)
                            @Html.HiddenFor(m => m.LastUpdateDate)
                            @Html.HiddenFor(m => m.IssueDate)
                            @Html.HiddenFor(m => m.PractitionerSpecId)

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="tab-content" id="Info">
                                <div class="tab-pane fade active show" id="PractitionerInfo" role="tabpanel" aria-labelledby="account-tab">
                                    <h4>@practitionerTitle</h4>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4"><span>*</span>@Aadl.Resources.ResPractitioner.lbPractitionerCases</label>
                                        @Html.ListBoxFor(Model => Model.PractitionerCases, new MultiSelectList(ViewBag.PractitionerCases, "Id", "Name"), new { @class = "custom-select col-md-7", multiple = "multiple", id = "PractitionerCases-dropdown" })
                                        <span asp-validation-for="PractitionerCases" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4"><span>*</span>@Aadl.Resources.ResPractitioner.lbSubscriptionType</label>
                                        @Html.DropDownListFor(Model => Model.SubscriptionTypeId, new SelectList(Aadl.Models.General.EnumExtensions.GetEnumSelectList<Domains.Utility.Enums.SubscriptionTypeEnum>(), "Value", "Text"), @Aadl.Resources.ResPractitioner.lbSubscriptionType, new { @class = "custom-select col-md-7" })
                                        <span asp-validation-for="SubscriptionTypeId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4"><span>*</span>@Aadl.Resources.ResPractitioner.lbSubscriptionWay</label>
                                        @Html.DropDownListFor(Model => Model.SubscriptionWayId, new SelectList(Aadl.Models.General.EnumExtensions.GetEnumSelectList<Domains.Utility.Enums.SubscriptionWayEnum>(), "Value", "Text"), @Aadl.Resources.ResPractitioner.lbSubscriptionWay, new { @class = "custom-select col-md-7" })
                                        <span asp-validation-for="SubscriptionWayId" class="text-danger"></span>
                                    </div>

                                    @if (ViewBag.PractitionerTypeId == 1)
                                    {
                                        <!-- Regulator specific fields -->
                                        <div class="form-group row">
                                            <label for="RegulatorMembership" class="col-xl-3 col-md-4"><span>*</span>@Aadl.Resources.ResPractitioner.lbMembershipNumber</label>
                                            <input asp-for="RegulatorMembership" class="form-control col-xl-7 col-md-7" id="regulatorMemberShipInput" type="text" required />
                                            <span asp-validation-for="RegulatorMembership" class="text-danger"></span>
                                        </div>
                                    }
                                    else if (ViewBag.PractitionerTypeId == 2)
                                    {
                                        <!-- Sharia specific fields -->
                                        <div class="form-group row">
                                            <label for="ShariaLicenseNumber" class="col-xl-3 col-md-4"><span>*</span>@Aadl.Resources.ResPractitioner.lbShariaLicenseNumber</label>
                                            <input asp-for="ShariaLicenseNumber" class="form-control col-xl-7 col-md-7" id="regulatorMemberShipInput" type="text" required />
                                            <span asp-validation-for="ShariaLicenseNumber" class="text-danger"></span>
                                        </div>
                                    }

                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4">@Aadl.Resources.General.lbIsActive</label>
                                        <div class="checkbox checkbox-primary col-xl-9 col-md-8">
                                            <input id="checkbox-primary-2" type="checkbox" asp-for="@Model.IsActive">
                                            <label for="checkbox-primary-2">@Aadl.Resources.General.lbIsActive</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="PersonInfo" role="tabpanel" aria-labelledby="permission-tabs">
                                    <h4>@Aadl.Resources.General.lbPersonTitle</h4>
                                    <div class="form-group row">
                                        <label for="FullName" class="col-xl-3 col-md-4"><span>*</span>@Aadl.Resources.General.lbFullName</label>
                                        <input asp-for="FullName" class="form-control col-xl-7 col-md-7" id="fullNameInput" type="text" required />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Phone" class="col-xl-3 col-md-4"><span>*</span>@Aadl.Resources.General.lbPhone</label>
                                        <input asp-for="Phone" class="form-control col-xl-7 col-md-7" id="phoneInput" type="tel" required />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Email" class="col-xl-3 col-md-4">@Aadl.Resources.General.lbEmail</label>
                                        <input asp-for="Email" class="form-control col-xl-7 col-md-7" id="EmailInput" type="email" />
                                    </div>

                                      <div class="form-group row">
                                        <label class="col-xl-3 col-md-4"><span>*</span>@Aadl.Resources.General.lbCountry</label>
                                        @Html.DropDownListFor(emp => emp.CountryId,
                                                 new SelectList(ViewBag.Countries, "Id", "Name"),
                                                 "Select Country",
                                                 new { @class = "custom-select col-md-7" })
                                        <span asp-validation-for="SubscriptionTypeId" class="text-danger"></span>
                                    </div>

                                    <div class="form-group row">
                                        <label for="City" class="col-xl-3 col-md-4">@Aadl.Resources.General.lbCity</label>
                                        <input asp-for="City" class="form-control col-xl-7 col-md-7" id="CityInput" type="text" />
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4">@Aadl.Resources.General.lbBirthday</label>
                                        <input asp-for="Birthday" class="datepicker-here form-control digits col-md-7" type="date" data-language="en">
                                    </div>
                                
                                </div>

                            </div>

                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends -->


</div>

@section Scripts{


    <script src="~/Moduls/Helper.js"></script>

    <script src="~/Moduls/EditViewPractitionerScript.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        ClsPractitioner.GetCasesByPractitionerTypeId(@Model.PractitionerTypeId);

    });
</script>

}