@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    // Determine the navigation title based on PractitionerTypeId
    string practitionerTitle="";
    if(Model.PractitionerTypeId !=0)
    switch (Model.PractitionerTypeId)
    {
        case 1:
            practitionerTitle = @Aadl.Resources.ResPractitioner.lbRegulator;
            break;
        case 2:
            practitionerTitle = @Aadl.Resources.ResPractitioner.lbSharia;
            break;
        case 3:
            practitionerTitle = @Aadl.Resources.ResPractitioner.lbJudger;
            break;
        case 4:
            practitionerTitle = @Aadl.Resources.ResPractitioner.lbExpert;
            break;
        default:
            practitionerTitle = "NONE";
            break;
    }
}

@section Styles{
    
    

}

@model Aadl.Models.PractitionerViewModels.RegulatorEditViewModel
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            @ViewBag.Title
                            <small>
                                @ViewBag.SubTitle
                            </small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Vendors </li>
                        <li class="breadcrumb-item active">Create Vendor </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card tab2-card">
                    <div class="card-header">
                        <h5> @Model.FullName</h5>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active show" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="true" data-original-title="" title="">@practitionerTitle</a></li>
                            <li class="nav-item"><a class="nav-link" id="permission-tabs" data-toggle="tab" href="#permission" role="tab" aria-controls="permission" aria-selected="false" data-original-title="" title="">Permission</a></li>
                        </ul>
                                <form asp-controller="practitioner" asp-action="edit" method="post"  class="needs-validation user-add">
                                 <input type="hidden" name="PractitionerId" value="@Model.PractitionerId"/>
                                <input type="hidden" name="PractitionerTypeId" value="@Model.PractitionerTypeId" />
                                <input type="hidden" name="UpdatedByUserId" value="@Model.UpdatedByUserId" />
                                @Html.HiddenFor(m => m.LastUpdateDate)

                                    <div asp-validation-summary="All" class="text-danger"></div>
                      
                                    
                                    <div class="tab-content" id="myTabContent">
                            
                                        <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">

                                    <h4>@practitionerTitle</h4>


                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4">@Aadl.Resources.ResPractitioner.lbPractitionerCases</label>
                                        @Html.ListBoxFor(Model => Model.PractitionerCases,
                                                 new MultiSelectList(ViewBag.PractitionerCases, "Id", "Name"),
                                                 new { @class = "custom-select col-md-7", multiple = "multiple", id = "PractitionerCases-dropdown" })
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4">@Aadl.Resources.ResPractitioner.lbSubscriptionType</label>
                                        @Html.DropDownListFor(Model => Model.SubscriptionTypeId,
                                                 new SelectList(Aadl.Models.General.EnumExtensions.GetEnumSelectList<Domains.Utility.Enums.SubscriptionTypeEnum>(), "Value", "Text"),
                                                 @Aadl.Resources.ResPractitioner.lbSubscriptionType,
                                                 new { @class = "custom-select col-md-7" })
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4">@Aadl.Resources.ResPractitioner.lbSubscriptionWay</label>
                                        @Html.DropDownListFor(Model => Model.SubscriptionWayId,
                                                 new SelectList(Aadl.Models.General.EnumExtensions.GetEnumSelectList<Domains.Utility.Enums.SubscriptionWayEnum>(), "Value", "Text"),
                                                 @Aadl.Resources.ResPractitioner.lbSubscriptionWay,
                                                 new { @class = "custom-select col-md-7" })
                                    </div>

                                    <div class="form-group row">
                                        <label for="@Model.RegulatorMembership" class="col-xl-3 col-md-4"><span>*</span>@Aadl.Resources.ResPractitioner.lbMembershipNumber</label>
                                        <input asp-for="RegulatorMembership" class="form-control col-xl-7 col-md-7" id="regulatorMemberShipInput" type="text" required="">
                                    </div>
                                 
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4">@Aadl.Resources.General.lbIsActive</label>
                                        <div class="checkbox checkbox-primary col-xl-9 col-md-8">
                                            <input id="checkbox-primary-2" type="checkbox" data-original-title="" title=""
                                              asp-for="@Model.IsActive">
                                            <label for="checkbox-primary-2">
                                                @Aadl.Resources.General.lbIsActive
                                                </label>
                                        </div>
                                    </div>


                            </div>
                            <div class="tab-pane fade" id="permission" role="tabpanel" aria-labelledby="permission-tabs">
                                  <h4>Permission</h4>
                                    <div class="permission-block">
                                        <div class="attribute-blocks">
                                            <h5 class="f-w-600 mb-3">Product Related permition </h5>
                                            <div class="row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label>Add Product</label>
                                                </div>
                                                <div class="col-xl-9 col-sm-8">
                                                    <div class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                        <label class="d-block" for="edo-ani1">
                                                            <input class="radio_animated" id="edo-ani1" type="radio" name="rdo-ani">
                                                            Allow
                                                        </label>
                                                        <label class="d-block" for="edo-ani2">
                                                            <input class="radio_animated" id="edo-ani2" type="radio" name="rdo-ani" checked="">
                                                            Deny
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label>Update Product</label>
                                                </div>
                                                <div class="col-xl-9 col-sm-8">
                                                    <div class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                        <label class="d-block" for="edo-ani3">
                                                            <input class="radio_animated" id="edo-ani3" type="radio" name="rdo-ani1">
                                                            Allow
                                                        </label>
                                                        <label class="d-block" for="edo-ani4">
                                                            <input class="radio_animated" id="edo-ani4" type="radio" name="rdo-ani1" checked="">
                                                            Deny
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label>Delete Product</label>
                                                </div>
                                                <div class="col-xl-9 col-sm-8">
                                                    <div class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                        <label class="d-block" for="edo-ani5">
                                                            <input class="radio_animated" id="edo-ani5" type="radio" name="rdo-ani2">
                                                            Allow
                                                        </label>
                                                        <label class="d-block" for="edo-ani6">
                                                            <input class="radio_animated" id="edo-ani6" type="radio" name="rdo-ani2" checked="">
                                                            Deny
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0 sm-label-radio">Apply Discount</label>
                                                </div>
                                                <div class="col-xl-9 col-sm-8">
                                                    <div class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated pb-0">
                                                        <label class="d-block mb-0" for="edo-ani7">
                                                            <input class="radio_animated" id="edo-ani7" type="radio" name="rdo-ani3">
                                                            Allow
                                                        </label>
                                                        <label class="d-block mb-0" for="edo-ani8">
                                                            <input class="radio_animated" id="edo-ani8" type="radio" name="rdo-ani3" checked="">
                                                            Deny
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="attribute-blocks">
                                            <h5 class="f-w-600 mb-3">Category Related permition </h5>
                                            <div class="row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label>Add Category</label>
                                                </div>
                                                <div class="col-xl-9 col-sm-8">
                                                    <div class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                        <label class="d-block" for="edo-ani9">
                                                            <input class="radio_animated" id="edo-ani9" type="radio" name="rdo-ani4">
                                                            Allow
                                                        </label>
                                                        <label class="d-block" for="edo-ani10">
                                                            <input class="radio_animated" id="edo-ani10" type="radio" name="rdo-ani4" checked="">
                                                            Deny
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label>Update Category</label>
                                                </div>
                                                <div class="col-xl-9 col-sm-8">
                                                    <div class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                        <label class="d-block" for="edo-ani11">
                                                            <input class="radio_animated" id="edo-ani11" type="radio" name="rdo-ani5">
                                                            Allow
                                                        </label>
                                                        <label class="d-block" for="edo-ani12">
                                                            <input class="radio_animated" id="edo-ani12" type="radio" name="rdo-ani5" checked="">
                                                            Deny
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label>Delete Category</label>
                                                </div>
                                                <div class="col-xl-9 col-sm-8">
                                                    <div class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                        <label class="d-block" for="edo-ani13">
                                                            <input class="radio_animated" id="edo-ani13" type="radio" name="rdo-ani6">
                                                            Allow
                                                        </label>
                                                        <label class="d-block" for="edo-ani14">
                                                            <input class="radio_animated" id="edo-ani14" type="radio" name="rdo-ani6" checked="">
                                                            Deny
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-sm-4">
                                                    <label class="mb-0 sm-label-radio">Apply discount</label>
                                                </div>
                                                <div class="col-xl-9 col-sm-8">
                                                    <div class="form-group m-checkbox-inline custom-radio-ml d-flex radio-animated pb-0">
                                                        <label class="d-block mb-0" for="edo-ani15">
                                                            <input class="radio_animated" id="edo-ani15" type="radio" name="rdo-ani7">
                                                            Allow
                                                        </label>
                                                        <label class="d-block mb-0" for="edo-ani16">
                                                            <input class="radio_animated" id="edo-ani16" type="radio" name="rdo-ani7" checked="">
                                                            Deny
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                                </form>
                        </div>
                        <div class="pull-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

@section Scripts{


    <script src="~/Moduls/Helper.js"></script>

    <script src="~/Moduls/EditViewPractitionerScript.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        ClsPractitioner.GetCasesByPractitionerTypeId(@Model.PractitionerTypeId);

    });
</script>

}